<div style="margin-top: 100px;background-color: rgb(54, 46, 46);">
    <h1 style="color: white;margin-left: 50px;">About Us</h1>

    <h4 style="color: yellow;">
        Name:- ADINATH DATTARAM DUKARE <br>
        College:- AISSMS INSTITUTE OF INFORMATION TECHNOLOGY,PUNE <br>
        MORAYA NUTRITIONAL CORNER PVT LTD <br>
        131,PARGAON TARFE ALE <br>
        TAL-JUNNAR, DIST-PUNE <br> 
        410504 <br>
        Mb.No:- 8698757347 <br>
        Email:- adinathdukare123@gmail.com 
    </h4>
    
</div>
